/*  animaciones y transiciones scale,etc  */

    /* gif general  */
.gifWidth{
    width: 60vw;
}
    /*media query gif general  */
.gifWidth{
    @media only screen and (min-width: 768px){
        width: 25vw;
    }
    @media only screen and (min-width: 1200px){
        width: 20vw;
    }
}
article{
    &:hover button{
        transform: scale(1.05);
    }
}

