/*  Sección de contacto */
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    color: #50433d;
    background-image: url(../fotos/fondoGeneral.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    fieldset{
        background-color: #F2E9E4;
        width: auto;
        border: #50433d solid 0.2rem;
        margin: 2rem 2rem;
        padding: 2rem 2rem;
    }
    label{
        font-weight: bolder;
    }
    input{
        width: 80%;
        align-self: center;
        background-color: #F2E9E4;
        border: #50433d solid 0.3rem;
        color: #50433d;
        margin: 1rem;
        padding: 0.5rem 0.5rem;
                &:hover{
            cursor: pointer;
        }
    }
    
    select{
        background-color: #F2E9E4;
        color: #50433d;
        padding-bottom: 2rem;
        font-size: 4rem;
        border: #50433d solid 0.3rem;
        &:hover{
            color: #a27861;
            cursor: pointer;
        }
    }
    h2{
        width: 100%;
    }
    textarea{
        width: 25rem;
        height: 15rem;
    }
    h3{
        width: 100%;
    }
}
.buttonRegister{
    background-color: #F2E9E4;
    color: #50433d;
    border: #50433d solid 0.2rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem 1rem;
    font-weight: bolder;
}

/*  Sección Sobre Nosotros  */
.textoExplicativo{
    font-size: 3rem;
    color: #50433d;
    background-color: #F2E9E4;
    text-align: center;
    font-family: $font2;
    border-left: #50433d 0.5rem solid;
    border-right: #50433d 0.5rem solid;
    a{
        color: #a27861;
        text-decoration: none;
        font-family: $font2;
    }
}