/*importFont*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

/*10px=1rem*/
html{
    font-size: 62.5%;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL QingKe HuangYou',cursive;
}


