/*importFont*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

/*10px=1rem*/
html{
    font-size: 62.5%;
}

/*reset*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
}

$font1:'Merienda', cursive;
$font2:'Roboto', sans-serif;
