    /*  Zona Del Header e imagen heroe  */
    
header{
    h1{
        a{
            color: #e2d3ca;
            font-size: 3.6rem;
            font-weight: bolder;
            text-decoration: none;
            margin-top: 1.5rem;
            width: 100%;
            &:hover{
                color: #50433d;
            }
        }
    }
}

    /*  Media query de Zona del Header e imagen Heroe    */

header{
    h1{
        a{
            @media only screen and (min-width: 500px){
                font-size: 5rem;
            }
            @media only screen and (min-width: 768px){
                font-size: 8rem;
            }
            @media only screen and (min-width: 1200px){
                font-size: 10rem;
            }
        }
    }
}

.flexHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        width: 100%;
        a{
            white-space: nowrap;
            width: fit-content;
        }
    }
}

.imgHeader{
    background-image: url(../fotos/ImagenHeader.jpg);
    background-size:auto no-repeat;
    background-position: center top;
    img{
        width: 100%;
    }
}

.logoHeader{
    width: fit-content;
    margin: 1.5rem 0rem;
    img{
        width: 25vw;
    }
}
    /*  media query de logoHeader   */

.logoHeader{
    @media only screen and (min-width: 500px){
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        img{
            width: 20vw;
        }
    }
    @media only screen and (min-width: 768px){
        img{
            width: 10vw;
        }
        align-self: flex-start;
    }
    @media only screen and (min-width:1200px){
        img{
            width: 10vw;
        }
    }
}
    /*  media query flex Header */
.flexHeader{
    @media only screen and (min-width: 768px){
        flex-direction: row;
        justify-content: space-around;
    }
}

    /*  Botonera Principal  */

header{
    nav{
        background-color: #a27861;
        border: solid 0.5rem #50433d;
        text-align: center;
        width: auto;
        ul{
            li{
                list-style: none;
                border-bottom: solid #50433d 0.3rem;
                a{
                    font-size: 3rem;
                    font-weight: bolder;
                    text-decoration: none;
                    color: #f2e9e4;
                    &:hover{
                        color: #50433d;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
/*  Media query de Botonera Principal    */
header{
    nav{
        @media only screen and (min-width: 768px){
            ul{
                display: flex;
                flex-direction: row;
                list-style: none;
                justify-content: space-around !important;
                li{
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    a{
                        font-size: 3rem;
                    }
                }
            }
        }
        @media only screen and (min-width:992px){
            li{
                padding-right: 2.5rem;
            }
        }
        @media only screen and (min-width:1200px){
            ul{
                li{
                    a{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}

